# dependencies
node_modules/
.pnp
.pnp.js

# env files (NEVER commit real keys)
.env.local
.env.development.local
.env.test.local
.env.production.local

# next.js
.next/
out/

# expo
.expo/
dist/

# build
build/

# misc
.DS_Store
*.pem
*.log
npm-debug.log*

# turbo
.turbo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# supabase
supabase/.temp/
